.side_match_info_table {
    font-size: 0.8em;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: 1px solid black;
    margin: 5px;
    border-radius: 3px;
    background: #fffbdc;
    position: static;
}