.team_rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 30px;
    padding: 3px;
}

.away {
    background-color: #d15e5e;
}

.home {
    background-color: #6ecdea;
}

.team_rating span {
    text-align: center;
    /* height: 100%; */
}

.ratings_ratio {
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110px;
    height: 100%;
    color: white;
    font-size: 0.9em;
}