.statistics_table .yellow {
    background: yellow;
}

 .statistics_table .red {
    background: red;
}

.mult {
    font-size: 0.6em;
    align-self: flex-end;
  }
  
  .star {
    width: 20px;
    height: 20px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-wrap: wrap;*/
  }
  
  .rating_container {
    display: flex;
  }
  
  .injury_line {
    stroke: rgb(255, 0, 0);
    stroke-width:2
  }
  