.page_navigation {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.page_link {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    margin: 0;
    padding: 0;
}

.page_link_active {
    cursor: pointer;
    background: white;
}

.page_link_not_active {
    background-color: #dce3de;
    font-weight: bold;
}

.page_link:hover {
    background: #bbf0c9;
}

.a_page {
    text-decoration: none;
    color: black;

    border: none;

    margin: 0;
    padding: 0;
    text-align: left;
}

.a_page:visited,
.a_page:active {
    color: black;
    text-decoration: none;
}