play.i18n.langs = [ "en", "ru" ]

play.http.secret.key = "hattidsecret"
play.filters.enabled += play.filters.hosts.AllowedHostsFilter

play.filters.hosts.routeModifiers.whiteList = []
play.filters.hosts.routeModifiers.blackList = ["{{ loader.loader_url }}"]

play.http.errorHandler = "handlers.ErrorHandler"

hattrick {
  customerKey = "{{ hattrick.customerKey }}"
  customerSecret = "{{ hattrick.customerSecret }}"
  accessToken = "{{ hattrick.accessToken }}"
  accessTokenSecret = "{{ hattrick.accessTokenSecret }}"

  defaultLeagueId = {{ web.defaultLeagueId }}
}


db.default.driver = ru.yandex.clickhouse.ClickHouseDriver
db.default.url = "{{ clickhouse.jdbc_url }}"
db.default.user=web
db.default.password="{{ clickhouse.users.web.password }}"

fixedConnectionPool = 20

database.clickhouse {
  executor = "thread-pool-executor"
  throughput = 1
  thread-pool-executor {
    fixed-pool-size = ${fixedConnectionPool}
  }
}

