@import service.DefaultService
@import models.web.WebPagedEntities
@import models.clickhouse.TeamRating

@(bestTeams: WebPagedEntities[TeamRating])(implicit messages: Messages)
<table>
    <tr>
        <th>Position</th>
        <th>Team</th>
        <th>League</th>
        <th>HatStats</th>
        <th>MidField</th>
        <th>Defense</th>
        <th>Attack</th>
    </tr>
    @for((team, index) <- bestTeams.entities.zipWithIndex) {
    <tr>
        <td>@{DefaultService.PAGE_SIZE * bestTeams.pageInfo.page + index + 1}</td>
        <td><a href="@routes.TeamController.matches(team.teamId)">@team.teamName</a></td>
        <td><a href="@routes.LeagueUnitController.bestTeams(team.leagueUnitId)">@team.leagueUnitName</a></td>
        <td>@team.hatStats</td>
        <td>@team.midfield</td>
        <td>@team.defense</td>
        <td>@team.attack</td>
    </tr>
    }
</table>

@pageNav(bestTeams.pageInfo)

