@import service.DefaultService
@import models.web.WebPagedEntities
@import models.clickhouse.TeamRating

@(bestTeams: WebPagedEntities[TeamRating])(implicit messages: Messages)
<table>
    <tr>
        <th class="position hint" popped-hint="@messages("table.position")">@messages("table.position_abbr")</th>
        <th>@messages("table.team")</th>
        <th class="value">@messages("table.league")</th>
        <th class="value">@messages("table.hatstats")</th>
        <th class="value">@messages("table.midfield")</th>
        <th class="value">@messages("table.defense")</th>
        <th class="value">@messages("table.attack")</th>
    </tr>
    @for((team, index) <- bestTeams.entities.zipWithIndex) {
    <tr>
        <td>@{DefaultService.PAGE_SIZE * bestTeams.pageInfo.page + index + 1}</td>
        <td><a href="@routes.TeamController.matches(team.teamId)">@team.teamName</a></td>
        <td class="value"><a href="@routes.LeagueUnitController.bestTeams(team.leagueUnitId)">@team.leagueUnitName</a></td>
        <td class="value">@team.hatStats</td>
        <td class="value">@team.midfield</td>
        <td class="value">@team.defense</td>
        <td class="value">@team.attack</td>
    </tr>
    }
</table>

@pageNav(bestTeams.pageInfo)

