@import service.DefaultService
@import models.web.WebPagedEntities
@import models.clickhouse.LeagueUnitRating
@import service.DefaultService

@(bestLeagueUnits: WebPagedEntities[LeagueUnitRating], season: Int)

<table>
    <tr>
        <th>Position</th>
        <th>League</th>
        <th>HatStats</th>
        <th>Midfield</th>
        <th>Defense</th>
        <th>Attack</th>
    </tr>
    @for((leagueUnit, index) <- bestLeagueUnits.entities.zipWithIndex) {
    <tr>
        <td>@{DefaultService.PAGE_SIZE * bestLeagueUnits.page + index + 1}</td>
        <td><a href="@routes.LeagueUnitController.bestTeamsById(leagueUnit.leagueUnitId, season)">@leagueUnit.leagueUnitName</a></td>
        <td>@leagueUnit.hatStats</td>
        <td>@leagueUnit.midfield</td>
        <td>@leagueUnit.defense</td>
        <td>@leagueUnit.attack</td>
    </tr>
    }
</table>

@for(url <- bestLeagueUnits.prevUrl) {
<a href="@url">Previous<<</a>
}

@{bestLeagueUnits.page + 1}

@for(url <- bestLeagueUnits.nextUrl) {
<a href="@url">>>Next</a>
}