@import service.DefaultService
@import models.web.WebPagedEntities
@import models.clickhouse.TeamRating

@(bestTeams: WebPagedEntities[TeamRating])(implicit messages: Messages)
<table>
    <tr>
        <th class="position hint" popped-hint="Position">P</th>
        <th>Team</th>
        <th class="value">League</th>
        <th class="value">HatStats</th>
        <th class="value">MidField</th>
        <th class="value">Defense</th>
        <th class="value">Attack</th>
    </tr>
    @for((team, index) <- bestTeams.entities.zipWithIndex) {
    <tr>
        <td>@{DefaultService.PAGE_SIZE * bestTeams.pageInfo.page + index + 1}</td>
        <td><a href="@routes.TeamController.matches(team.teamId)">@team.teamName</a></td>
        <td class="value"><a href="@routes.LeagueUnitController.bestTeams(team.leagueUnitId)">@team.leagueUnitName</a></td>
        <td class="value">@team.hatStats</td>
        <td class="value">@team.midfield</td>
        <td class="value">@team.defense</td>
        <td class="value">@team.attack</td>
    </tr>
    }
</table>

@pageNav(bestTeams.pageInfo)

