@import service.DefaultService
@import models.web.WebPagedEntities
@import models.clickhouse.LeagueUnitRating
@import service.DefaultService

@(bestLeagueUnits: WebPagedEntities[LeagueUnitRating])(implicit messages: Messages)
<table>
    <tr>
        <th>Position</th>
        <th>League</th>
        <th>HatStats</th>
        <th>Midfield</th>
        <th>Defense</th>
        <th>Attack</th>
    </tr>
    @for((leagueUnit, index) <- bestLeagueUnits.entities.zipWithIndex) {
    <tr>
        <td>@{DefaultService.PAGE_SIZE * bestLeagueUnits.pageInfo.page + index + 1}</td>
        <td><a href="@routes.LeagueUnitController.bestTeams(leagueUnit.leagueUnitId)">@leagueUnit.leagueUnitName</a></td>
        <td>@leagueUnit.hatStats</td>
        <td>@leagueUnit.midfield</td>
        <td>@leagueUnit.defense</td>
        <td>@leagueUnit.attack</td>
    </tr>
    }
</table>

@pageNav(bestLeagueUnits.pageInfo)