@import models.web.WebPagedEntities
@import models.clickhouse.FanclubFlags

@(fanclubFlags: WebPagedEntities[FanclubFlags])(implicit messages: Messages)
    <table class="statistics_table">
        <tr>
            <th class="position hint" popped-hint="@messages("table.position")">@messages("table.position_abbr")</th>
            <th>@messages("table.team")</th>
            <th class="value">@messages("table.league")</th>
            <th class="value">@messages("table.fanclub_size")</th>
            <th class="value">@messages("table.home_flags")</th>
            <th class="value">@messages("table.away_flags")</th>
            <th class="value">@messages("table.all_flags")</th>
        </tr>
        @for((fanclubFlag, index) <- fanclubFlags.entities.zipWithIndex) {
        <tr>
            <td>@{fanclubFlags.pageInfo.pageSize * fanclubFlags.pageInfo.page + index + 1}</td>
            <td><a class="table_link" href="@routes.TeamController.teamOverview(fanclubFlag.teamId)">@fanclubFlag.teamName</a></td>
            <td class="value"><a class="table_link" href="@routes.LeagueUnitController.bestTeams(fanclubFlag.leagueUnitId)">@fanclubFlag.leagueUnitName</a></td>
            <td class="value">@fanclubFlag.fanclubSize</td>
            <td class="value">@fanclubFlag.homeFlags</td>
            <td class="value">@fanclubFlag.awayFlags</td>
            <td class="value">@fanclubFlag.allFlags</td>
        </tr>
        }
    </table>


@pageNav(fanclubFlags.pageInfo)