@import models.web.WebPagedEntities
@import models.clickhouse.FormalTeamStats

@(formalTeamStats: WebPagedEntities[FormalTeamStats])(implicit messages: Messages)

<table class="statistics_table">
    <tr>
        <th class="position hint" popped-hint="@messages("table.position")">@messages("table.position_abbr")</th>
        <th>@messages("table.team")</th>
        <th class="value">@messages("table.league")</th>
        <th class="value hint" popped-hint="@messages("table.win")">@messages("table.win_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.lose")">@messages("table.lose_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.draw")">@messages("table.draw_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.goals_for")">@messages("table.goals_for_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.goals_against")">@messages("table.goals_against_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.points")">@messages("table.points_abbr")</th>
    </tr>
    @for((teamStats, index) <- formalTeamStats.entities.zipWithIndex) {
    <tr>
        <td>@{formalTeamStats.pageInfo.pageSize * formalTeamStats.pageInfo.page + index + 1}</td>
        <td><a class="table_link" href="@routes.TeamController.teamOverview(teamStats.teamId)">@teamStats.teamName</a></td>
        <td class="value"><a class="table_link" href="@routes.LeagueUnitController.bestTeams(teamStats.leagueUnitId)">@teamStats.leagueUnitName</a></td>
        <td class="value">@teamStats.wins</td>
        <td class="value">@teamStats.lost</td>
        <td class="value">@teamStats.draws</td>
        <td class="value">@teamStats.scored</td>
        <td class="value">@teamStats.missed</td>
        <td class="value">@teamStats.points</td>
    </tr>
    }
</table>

@pageNav(formalTeamStats.pageInfo)