@import models.web.WebPagedEntities
@import service.DefaultService
@import models.clickhouse.FormalTeamStats

@(formalTeamStats: WebPagedEntities[FormalTeamStats])(implicit messages: Messages)

<table>
    <tr>
        <th>Position</th>
        <th>Team</th>
        <th>League</th>
        <th>Scored</th>
        <th>Missed</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
        <th>Points</th>
    </tr>
    @for((teamStats, index) <- formalTeamStats.entities.zipWithIndex) {
    <tr>
        <td>@{DefaultService.PAGE_SIZE * formalTeamStats.pageInfo.page + index + 1}</td>
        <td><a href="@routes.TeamController.matches(teamStats.teamId)">@teamStats.teamName</a></td>
        <td><a href="@routes.LeagueUnitController.bestTeams(teamStats.leagueUnitId)">@teamStats.leagueUnitName</a></td>
        <td>@teamStats.scored</td>
        <td>@teamStats.missed</td>
        <td>@teamStats.wins</td>
        <td>@teamStats.lost</td>
        <td>@teamStats.draws</td>
        <td>@teamStats.points</td>
    </tr>
    }
</table>

@pageNav(formalTeamStats.pageInfo)