@import models.web.PageInfo

@(pageInfo: PageInfo)(implicit messages: Messages)

<nav class="page_navigation">
    @for(url <- pageInfo.prevUrl) {
    <a class="a_page" href="@url">
        <div class="page_link">
            &laquo;
        </div>
    </a>
    <a class="a_page" href="@url">
        <div class="page_link">
            @{pageInfo.page}
        </div>
    </a>
    }

    <a>
        <div class="page_link page_link_selected">
            @{pageInfo.page + 1}
        </div>
    </a>

    @for(url <- pageInfo.nextUrl) {
    <a class="a_page" href="@url">
        <div class="page_link">
            @{pageInfo.page + 2}
        </div>
    </a>
    <a class="a_page" href="@url">
        <div class="page_link">
            &raquo;
        </div>
    </a>
    }
</nav>