@import models.web.WebPagedEntities
@import models.clickhouse.PlayersState
@import service.DefaultService
@import models.web.ViewData
@import models.web.AbstractWebDetails

@(viewData: ViewData[PlayersState, AbstractWebDetails])(implicit messages: Messages)

@playerStates = @{viewData.webPagedEntities}
@formatter = @{java.text.NumberFormat.getIntegerInstance}
<table>
    <tr>
        <th class="position hint" popped-hint="@messages("table.position")">@messages("table.position_abbr")</th>
        <th>@messages("table.player")</th>
        <th>@messages("table.team")</th>
        <th class="value league">@messages("table.league")</th>
        <th class="value">@messages("table.age")</th>
        <th class="value">@messages("table.tsi")</th>
        <th class="value">@messages("table.salary"), @viewData.details.league.getCountry.getCurrencyName</th>
        <th class="value hint" popped-hint="@messages("table.rating")">@messages("table.rating_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.rating_end_of_match")">@messages("table.rating_end_of_match_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.injury")">@messages("table.injury_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.red_cards")">@messages("table.red_cards_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.yellow_cards")">@messages("table.yellow_cards_abbr")</th>
    </tr>
    @for((playerState, index) <- playerStates.entities.zipWithIndex) {
    <tr>
        <td>@{DefaultService.PAGE_SIZE * playerStates.pageInfo.page + index + 1}</td>
        <td>@{playerState.firstName + " " + playerState.lastName}</td>
        <td><a href="@routes.TeamController.matches(playerState.teamId)">@playerState.teamName</a></td>
        <td class="value league"><a href="@routes.LeagueUnitController.bestTeams(playerState.leagueUnitId)">@playerState.leagueUnitName</a></td>
        <td class="value">@playerState.age</td>
        <td class="value">@formatter.format(playerState.tsi)</td>
        <td class="value">
            @{formatter.format((playerState.salary / viewData.details.league.getCountry.getCurrencyRate).toInt)}
        </td>
        <td class="value">
            <div class="rating">
                <img class="star" src="@routes.Assets.versioned("images/star.svg")">
                <span class="mult">x</span>
                <span class="rating">@{playerState.rating.toDouble / 10}</span>
            </div>
        </td>
        <td class="value">
            <div class="rating">
                <img class="star" src="@routes.Assets.versioned("images/star.svg")">
                <span class="mult">x</span>
                <span class="rating">@{playerState.ratingEndOfMatch.toDouble / 10}</span>
            </div>
        </td>
        <td class="value">
            <svg width="10px" height="10px">
                <line x1="0" y1="5" x2="10" y2="5" style="stroke:rgb(255,0,0);stroke-width:2"></line>
                <line x1="5" y1="0" x2="5" y2="10" style="stroke:rgb(255,0,0);stroke-width:2"></line>
            </svg>
            @{if(playerState.injuryLevel == -1) 0 else playerState.injuryLevel}

        </td>
        <td class="value"><span class="red card"></span><span class="mult">x</span>@playerState.redCards</td>
        <td class="value"><span class="yellow card"></span><span class="mult">x</span>@playerState.yellowCards</td>
    </tr>
    }
</table>

@pageNav(playerStates.pageInfo)