@import models.web.WebPagedEntities
@import models.clickhouse.PlayersState
@import models.web.ViewData
@import models.web.AbstractWebDetails

@(viewData: ViewData[PlayersState, AbstractWebDetails])(implicit messages: Messages)

@playerStates = @{viewData.webPagedEntities}
<table class="statistics_table">
    <tr>
        <th class="position hint" popped-hint="@messages("table.position")">@messages("table.position_abbr")</th>
        <th>@messages("table.player")</th>
        <th>@messages("table.team")</th>
        <th class="value league">@messages("table.league")</th>
        <th class="value">@messages("table.age")</th>
        <th class="value">@messages("table.tsi")</th>
        <th class="value">@messages("table.salary"),
            @{if (viewData.details.league.getCountry.getCurrencyName == null) "$" else viewData.details.league.getCountry.getCurrencyName}
        </th>
        <th class="value hint" popped-hint="@messages("table.rating")">@messages("table.rating_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.rating_end_of_match")">@messages("table.rating_end_of_match_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.injury")">@messages("table.injury_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.red_cards")">@messages("table.red_cards_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.yellow_cards")">@messages("table.yellow_cards_abbr")</th>
    </tr>
    @for((playerState, index) <- playerStates.entities.zipWithIndex) {
    <tr>
        <td>@{playerStates.pageInfo.pageSize * playerStates.pageInfo.page + index + 1}</td>
        <td>@{playerState.firstName + " " + playerState.lastName}</td>
        <td><a class="table_link" href="@routes.TeamController.matches(playerState.teamId)">@playerState.teamName</a></td>
        <td class="value league"><a class="table_link" href="@routes.LeagueUnitController.bestTeams(playerState.leagueUnitId)">@playerState.leagueUnitName</a></td>
        <td class="value">@common.formatters.ageFormatter(playerState.age)</td>
        <td class="value">@common.formatters.tsiFormatter(playerState.tsi)</td>
        <td class="value">
            @common.formatters.salaryFormatter(playerState.salary, viewData.details.league)
        </td>
        <td class="value">@common.formatters.ratingFormatter(playerState.rating)</td>
        <td class="value">@common.formatters.ratingFormatter(playerState.ratingEndOfMatch)</td>
        <td class="value">@common.formatters.injuryFormatter(playerState.injuryLevel)</td>
        <td class="value"><span class="red card"></span><span class="mult">x</span>@playerState.redCards</td>
        <td class="value"><span class="yellow card"></span><span class="mult">x</span>@playerState.yellowCards</td>
    </tr>
    }
</table>

@pageNav(playerStates.pageInfo)