@import models.web.WebPagedEntities
@import models.clickhouse.PlayerStats

@(playerStats: WebPagedEntities[PlayerStats])(implicit messages: Messages)

<table>
    <tr>
        <th class="position hint" popped-hint="@messages("table.position")">@messages("table.position_abbr")</th>
        <th>@messages("table.player")</th>
        <th>@messages("table.team")</th>
        <th class="value">@messages("table.league")</th>
        <th class="value">@messages("table.age")</th>
        <th class="value">@messages("table.games")</th>
        <th class="value hint" popped-hint="@messages("table.minutes")">@messages("table.minutes_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.scored")">@messages("table.scored_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.yellow_cards")">@messages("table.yellow_cards_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.red_cards")">@messages("table.red_cards_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.injury")">@messages("table.injury_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.minutes_per_goal")">@messages("table.minutes_per_goal_abbr")</th>
    </tr>
    @for((playerStat, index) <- playerStats.entities.zipWithIndex) {
    <tr>
        <td>@{playerStats.pageInfo.pageSize * playerStats.pageInfo.page + index + 1}</td>
        <td>@{playerStat.firstName + " " + playerStat.lastName}</td>
        <td><a class="table_link" href="@routes.TeamController.matches(playerStat.teamId)">@playerStat.teamName</a></td>
        <td class="value"><a class="table_link" href="@routes.LeagueUnitController.bestTeams(playerStat.leagueUnitId)">@playerStat.leagueUnitName</a></td>
        <td class="value">@playerStat.age</td>
        <td class="value">@playerStat.games</td>
        <td class="value">@playerStat.played</td>
        <td class="value">@playerStat.scored</td>
        <td class="value"><span class="yellow card"></span><span class="mult">x</span>@playerStat.yellowCards</td>
        <td class="value"><span class="red card"></span><span class="mult">x</span>@playerStat.redCards</td>
        <td class="value">
            <svg width="10px" height="10px">
                <line x1="0" y1="5" x2="10" y2="5" style="stroke:rgb(255,0,0);stroke-width:2"></line>
                <line x1="5" y1="0" x2="5" y2="10" style="stroke:rgb(255,0,0);stroke-width:2"></line>
            </svg>
            @playerStat.totalInjuries
        </td>
        <td class="value">@{if(playerStat.goalRate == Double.PositiveInfinity || playerStat.goalRate == Double.NegativeInfinity || playerStat.goalRate.equals(Double.NaN)) "" else playerStat.goalRate}</td>
    </tr>
    }
</table>

@pageNav(playerStats.pageInfo)