@import models.web.WebPagedEntities
@import models.clickhouse.SurprisingMatch
@(surprisingMatches: WebPagedEntities[SurprisingMatch])(implicit messages: Messages)

<table class="statistics_table">
    <tr>
        <th class="position hint" popped-hint="@messages("table.position")">@messages("table.position_abbr")</th>
        <th class="value">@messages("table.league")</th>
        <th class="value">@messages("table.team")</th>
        <th class="value">@messages("table.hatstats")</th>
        <th class="value"></th>
        <th class="value">@messages("table.hatstats")</th>
        <th class="value">@messages("table.team")</th>
    </tr>
    @for((surprisingMatch, index) <- surprisingMatches.entities.zipWithIndex) {
    <tr>
        <td>@{surprisingMatches.pageInfo.pageSize * surprisingMatches.pageInfo.page + index + 1}</td>
        <td class="value"><a class="table_link" href="@routes.LeagueUnitController.bestTeams(surprisingMatch.leagueUnitId)">@surprisingMatch.leagueUnitName</a></td>
        <td class="value">
        @if(surprisingMatch.isHomeMatch) {<a class="table_link" href="@routes.TeamController.teamOverview(surprisingMatch.teamId)">@surprisingMatch.teamName</a>} else {<a class="table_link" href="@routes.TeamController.teamOverview(surprisingMatch.oppositeTeamId)">@surprisingMatch.oppositeTeamName</a>}
        </td>
        <td class="value">
            @if(surprisingMatch.isHomeMatch) @{surprisingMatch.hatstats} else @{surprisingMatch.oppositeHatstats}
        </td>
        <td class="value">
            @if(surprisingMatch.isHomeMatch) @{surprisingMatch.goals + " : " + surprisingMatch.enemyGoals} else @{surprisingMatch.enemyGoals + " : " + surprisingMatch.goals}
        </td>
        <td class="value">
            @if(!surprisingMatch.isHomeMatch) @{surprisingMatch.hatstats} else @{surprisingMatch.oppositeHatstats}
        </td>
        <td class="value">
        @if(!surprisingMatch.isHomeMatch) {<a class="table_link" href="@routes.TeamController.teamOverview(surprisingMatch.teamId)">@surprisingMatch.teamName</a>} else {<a class="table_link" href="@routes.TeamController.teamOverview(surprisingMatch.oppositeTeamId)">@surprisingMatch.oppositeTeamName</a>}
        </td>
    </tr>
    }
</table>

@pageNav(surprisingMatches.pageInfo)