@import models.web.WebPagedEntities
@import models.clickhouse.TeamState
@import models.web.ViewData
@import models.web.AbstractWebDetails

@(viewData: ViewData[TeamState, AbstractWebDetails])(implicit messages: Messages)
@teamStates = @{viewData.webPagedEntities}
<table class="statistics_table">
    <tr>
        <th class="position hint" popped-hint="@messages("table.position")">@messages("table.position_abbr")</th>
        <th>@messages("table.team")</th>
        <th class="value">@messages("table.league")</th>
        <th class="value">@messages("table.tsi")</th>
        <th class="value">@messages("table.salary"),
            @{if (viewData.details.leagueInfo.league.getCountry.getCurrencyName == null) "$" else viewData.details.leagueInfo.league.getCountry.getCurrencyName}</th>
        <th class="value hint" popped-hint="@messages("table.rating")">@messages("table.rating_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.rating_end_of_match")">@messages("table.rating_end_of_match_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.average_age")">@messages("table.average_age_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.total_injury_weeks")">@messages("table.total_injury_weeks_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.total_injury_number")">@messages("table.total_injury_number_abbr")</th>
    </tr>
    @for((state, index) <- teamStates.entities.zipWithIndex) {
    <tr @{if(teamStates.selectedId.contains(state.teamId)) "class=selected_row"}>
        <td>@{teamStates.pageInfo.pageSize * teamStates.pageInfo.page + index + 1}</td>
        <td><a class="table_link" href="@routes.TeamController.matches(state.teamId)">@state.teamName</a></td>
        <td class="value"><a class="table_link" href="@routes.LeagueUnitController.bestTeams(state.leagueUnitId)">@state.leagueUnitName</a></td>
        <td class="value">@common.formatters.tsiFormatter(state.tsi)</td>
        <td class="value">
            @common.formatters.salaryFormatter(state.salary, viewData.details.leagueInfo.league)
        <td class="value">@common.formatters.ratingFormatter(state.rating)</td>
        <td class="value">@common.formatters.ratingFormatter(state.ratingEndOfMatch)</td>
        <td class="value">@common.formatters.ageFormatter(state.age)</td>
        <td class="value">@common.formatters.injuryFormatter(state.injury)</td>
        <td class="value">@state.injuryCount</td>
    </tr>
    }
</table>

@pageNav(teamStates.pageInfo)