@import models.web.WebPagedEntities
@import models.clickhouse.TeamState
@import models.web.ViewData
@import models.web.AbstractWebDetails

@(viewData: ViewData[TeamState, AbstractWebDetails])(implicit messages: Messages)
@teamStates = @{viewData.webPagedEntities}
@formatter = @{java.text.NumberFormat.getIntegerInstance}
<table>
    <tr>
        <th class="position hint" popped-hint="@messages("table.position")">@messages("table.position_abbr")</th>
        <th>@messages("table.team")</th>
        <th class="value">@messages("table.league")</th>
        <th class="value">@messages("table.tsi")</th>
        <th class="value">@messages("table.salary"), @viewData.details.league.getCountry.getCurrencyName</th>
        <th class="value hint" popped-hint="@messages("table.rating")">@messages("table.rating_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.rating_end_of_match")">@messages("table.rating_end_of_match_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.average_age")">@messages("table.average_age_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.total_injury_weeks")">@messages("table.total_injury_weeks_abbr")</th>
        <th class="value hint" popped-hint="@messages("table.total_injury_number")">@messages("table.total_injury_number_abbr")</th>
    </tr>
    @for((state, index) <- teamStates.entities.zipWithIndex) {
    <tr>
        <td>@{teamStates.pageInfo.pageSize * teamStates.pageInfo.page + index + 1}</td>
        <td><a class="table_link" href="@routes.TeamController.matches(state.teamId)">@state.teamName</a></td>
        <td class="value"><a class="table_link" href="@routes.LeagueUnitController.bestTeams(state.leagueUnitId)">@state.leagueUnitName</a></td>
        <td class="value">@formatter.format(state.tsi)</td>
        <td class="value">
            @{formatter.format((state.salary / viewData.details.league.getCountry.getCurrencyRate).toInt)}
        <td class="value">
            <div class="rating">
                <img class="star" src="@routes.Assets.versioned("images/star.svg")">
                <span class="mult">x</span>
                <span class="rating">@{state.rating.toDouble / 10}</span>
            </div>
        </td>
        <td class="value">
            <div class="rating">
                <img class="star" src="@routes.Assets.versioned("images/star.svg")">
                <span class="mult">x</span>
                <span class="rating">@{state.ratingEndOfMatch.toDouble / 10}</span>
            </div>
        </td>
        <td class="value">@{state.age / 112},@{state.age % 112}</td>
        <td class="value">
            <svg width="10px" height="10px">
                <line x1="0" y1="5" x2="10" y2="5" style="stroke:rgb(255,0,0);stroke-width:2"></line>
                <line x1="5" y1="0" x2="5" y2="10" style="stroke:rgb(255,0,0);stroke-width:2"></line>
            </svg>
            @state.injury
        </td>
        <td class="value">@state.injuryCount</td>
    </tr>
    }
</table>

@pageNav(teamStates.pageInfo)