@import models.clickhouse.TeamRankings

@import service.DefaultService
@import models.web.Round
@import utils.LeagueNameParser
@import models.web.StatisticsParameters

@(lastLeagueTeamRanking: TeamRankings,
        previousLeagueTeamRanking: Option[TeamRankings],
        lastDivisionLevelTeamRanking: TeamRankings,
        previousDivisionLevelTeamRanking: Option[TeamRankings],
        rankName: String,
        valueFunc: TeamRankings => Int,
        positionFunc: TeamRankings => Int,
        sortingField: String,
        details: WebTeamDetails,
        leagueLink: (Int, Option[StatisticsParameters], Option[Long]) => Call,
        divisionLevelLink: (Int, Int, Option[StatisticsParameters], Option[Long]) => Call,
        formatter: Int => Html = i => Html(i.toString())
)


<span class="ranking">
    <span class="ranking_name">@rankName</span>
    <table class="ranking_table">
        <tr class="ranking_row">
            <td class="ranking_row_name">@rankName</td>
            <td class="ranking_row_value">@formatter(valueFunc(lastDivisionLevelTeamRanking))</td>
            <td class="ranking_row_diff"><div class="ranking_row_diff_value">
                @if(previousDivisionLevelTeamRanking.isDefined) {
                    @if(valueFunc(previousDivisionLevelTeamRanking.get) > valueFunc(lastDivisionLevelTeamRanking)) {
                        <img class="trend_down" src="@routes.Assets.versioned("images/trend-red.png")">
                        -@{formatter(valueFunc(previousDivisionLevelTeamRanking.get) - valueFunc(lastDivisionLevelTeamRanking))}
                    }
                    @if(valueFunc(previousDivisionLevelTeamRanking.get) < valueFunc(lastDivisionLevelTeamRanking)) {
                        <img class="trend_up" src="@routes.Assets.versioned("images/trend-green.png")">
                        +@{formatter(valueFunc(lastDivisionLevelTeamRanking) - valueFunc(previousDivisionLevelTeamRanking.get))}
                    }
                    @if(valueFunc(previousDivisionLevelTeamRanking.get) == valueFunc(lastDivisionLevelTeamRanking)) {
                        <img src="@routes.Assets.versioned("images/trend-gray.png")">+@formatter(0)
                    }
                }
            </div></td>
        </tr>
        <tr class="ranking_row">
            <td class="ranking_row_name">
                <a class="table_link" href="@routes.LeagueController.bestTeams(details.league.getLeagueId)">
                    @details.league.getEnglishName
                </a>
            </td>
            <td class="ranking_row_value">
                <a class="table_link" href="@{leagueLink(details.league.getLeagueId,
                    Some(models.web.StatisticsParameters(details.season,
                        positionFunc(lastLeagueTeamRanking) / DefaultService.PAGE_SIZE,
                        Round(lastLeagueTeamRanking.round),
                        sortingField,
                        DefaultService.PAGE_SIZE,
                        models.web.Desc)),
                    Some(details.teamId))}">
                    @{positionFunc(lastLeagueTeamRanking) + 1}
                </a>
            </td>
            <td class="ranking_row_diff">
                @if(previousLeagueTeamRanking.isDefined) {
                    <a class="table_link" href="@{leagueLink(details.league.getLeagueId,
                        Some(models.web.StatisticsParameters(details.season,
                            positionFunc(previousLeagueTeamRanking.get) / DefaultService.PAGE_SIZE,
                            Round(lastLeagueTeamRanking.round - 1),
                            sortingField,
                            DefaultService.PAGE_SIZE,
                            models.web.Desc)),
                        Some(details.teamId))}">
                        @if(positionFunc(previousLeagueTeamRanking.get) > positionFunc(lastLeagueTeamRanking)) {
                            <img class="trend_up" src="@routes.Assets.versioned("images/trend-green.png")">
                            @{positionFunc(lastLeagueTeamRanking) - positionFunc(previousLeagueTeamRanking.get)}
                        }
                        @if(positionFunc(previousLeagueTeamRanking.get) < positionFunc(lastLeagueTeamRanking)) {
                            <img class="trend_down" src="@routes.Assets.versioned("images/trend-red.png")">
                            +@{positionFunc(lastLeagueTeamRanking) - positionFunc(previousLeagueTeamRanking.get)}
                        }
                        @if(positionFunc(previousLeagueTeamRanking.get) == positionFunc(lastLeagueTeamRanking)) {
                            <img src="@routes.Assets.versioned("images/trend-gray.png")">+0
                        }
                    </a>
                }
            </td>
        </tr>
        <tr class="ranking_row">
            <td class="ranking_row_name">
                <a class="table_link" href="@routes.DivisionLevelController.bestTeams(details.league.getLeagueId, details.divisionLevel)">
                    @LeagueNameParser.getLeagueUnitNumberByName(details.leagueUnitName)._1
                </a>
            </td>
            <td class="ranking_row_value">
                <a class="table_link" href="@{divisionLevelLink(
                    details.league.getLeagueId,
                    details.divisionLevel,
                    Some(models.web.StatisticsParameters(details.season,
                        positionFunc(lastDivisionLevelTeamRanking) / DefaultService.PAGE_SIZE,
                        Round(lastDivisionLevelTeamRanking.round),
                        sortingField,
                        DefaultService.PAGE_SIZE,
                        models.web.Desc)),
                    Some(details.teamId))}">
                @{positionFunc(lastDivisionLevelTeamRanking) + 1}
                </a>
            </td>
            <td class="ranking_row_diff">
                @if(previousDivisionLevelTeamRanking.isDefined) {
                    <a class="table_link" href="@{divisionLevelLink(
                        details.league.getLeagueId,
                        details.divisionLevel,
                        Some(models.web.StatisticsParameters(details.season,
                            positionFunc(previousDivisionLevelTeamRanking.get) / DefaultService.PAGE_SIZE,
                            Round(lastDivisionLevelTeamRanking.round - 1),
                            sortingField,
                            DefaultService.PAGE_SIZE,
                            models.web.Desc)),
                        Some(details.teamId))}">
                        @if(positionFunc(previousDivisionLevelTeamRanking.get) > positionFunc(lastDivisionLevelTeamRanking)) {
                            <img class="trend_up" src="@routes.Assets.versioned("images/trend-green.png")">
                            @{positionFunc(lastDivisionLevelTeamRanking) - positionFunc(previousDivisionLevelTeamRanking.get)}
                        }
                        @if(positionFunc(previousDivisionLevelTeamRanking.get) < positionFunc(lastDivisionLevelTeamRanking)) {
                            <img class="trend_down" src="@routes.Assets.versioned("images/trend-red.png")">
                            +@{positionFunc(lastDivisionLevelTeamRanking) - positionFunc(previousDivisionLevelTeamRanking.get)}
                        }
                        @if(positionFunc(previousDivisionLevelTeamRanking.get) == positionFunc(lastDivisionLevelTeamRanking)) {
                            <img src="@routes.Assets.versioned("images/trend-gray.png")">+0
                        }
                    </a>
                }
            </td>
        </tr>
    </table>
</span>