play.i18n.langs = [ "en", "ru", "es", "hr", "it", "de" ]

play.http.secret.key = "hattidsecret"
play.filters.enabled += play.filters.hosts.AllowedHostsFilter

play.filters.hosts.routeModifiers.whiteList = []
play.filters.hosts.routeModifiers.blackList = ["{{ loader.loader_url }}"]

play.filters.enabled += "play.filters.cors.CORSFilter"
play.filters.cors.pathPrefixes += "/api"
play.filters.cors.allowedHttpMethods = ["GET"]

play.http.filters=controllers.Filters

play.http.errorHandler = "handlers.HattidErrorHandler"

hattrick {
  customerKey = "{{ hattrick.customerKey }}"
  customerSecret = "{{ hattrick.customerSecret }}"
  accessToken = "{{ hattrick.accessToken }}"
  accessTokenSecret = "{{ hattrick.accessTokenSecret }}"
}


db.default.driver = ru.yandex.clickhouse.ClickHouseDriver
db.default.url = "{{ clickhouse.jdbc_url }}"
db.default.user= "{{ clickhouse.users.web.name }}"
db.default.password="{{ clickhouse.users.web.password }}"

fixedConnectionPool = 20

database.clickhouse {
  executor = "thread-pool-executor"
  throughput = 1
  thread-pool-executor {
    fixed-pool-size = ${fixedConnectionPool}
  }
}

play.cache.dispatcher = "contexts.blockingCacheDispatcher"

contexts {
  blockingCacheDispatcher {
    fork-join-executor {
      parallelism-factor = 3.0
    }
  }
}
