api:
  threads: {{ loader.threads }}
  customerKey: {{ hattrick.customerKey }}
  customerSecret: {{ hattrick.customerSecret }}
  accessToken: {{ hattrick.accessToken }}
  accessTokenSecret: {{ hattrick.accessTokenSecret }}

spring:
  datasource:
    url: jdbc:clickhouse://localhost:8123
    driver-class-name: ru.yandex.clickhouse.ClickHouseDriver
    username: {{ clickhouse.users.loader.name }}
    password: {{ clickhouse.users.loader.password }}

clickhouse:
  databaseName: {{ loader.databaseName }}

web:
  url: http://localhost:{{ web.port }}

telegram:
  botToken: {{ loader.telegram.botToken }}
  chatId: {{ loader.telegram.chatId }}
  socksHost: {{ loader.telegram.socksHost }}
  socksPort: {{ loader.telegram.socksPort }}
