tokens {
  authToken = {{ hattrick.accessToken }}
  authCustomerKey = {{ hattrick.customerKey }}
  clientSecret = {{ hattrick.customerSecret }}
  tokenSecret = {{ hattrick.accessTokenSecret }}
}

telegram {
  botToken = "{{ loader.telegram.botToken }}"
  chatId = {{ loader.telegram.chatId }}
}