[Unit]
Description=Hattid Web

[Service]
WorkingDirectory={{ base_project_directory }}/hat-all-stats
ExecStart=sbt web/'runProd {{ web.port }}'
User={{ ansible_user_id }}
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target