tokens {
  authToken = {{ hattrick.accessToken }}
  authCustomerKey = {{ hattrick.customerKey }}
  clientSecret = {{ hattrick.customerSecret }}
  tokenSecret = {{ hattrick.accessTokenSecret }}
}

telegram {
  botToken = "{{ loader.telegram.botToken }}"
  chatId = {{ loader.telegram.chatId }}
}

database {
  url = "{{ clickhouse.jdbc_url }}"
  username = {{ clickhouse.users.web.name }}
  password = {{ clickhouse.users.web.password }}
}