<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>INFO</level>
      </filter>
      <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
      </encoder>
  </appender>

  <appender name="debug_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>DEBUG</level>
          </filter>
          <file>{{ base_project_directory }}/logs/loader/debug.log</file>
          <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                  <fileNamePattern>{{ base_project_directory }}/logs/loader/debug.%d{yyyy-ww}</fileNamePattern>
                  <maxHistory>4</maxHistory>
          </rollingPolicy>
          <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
          </encoder>
  </appender>

  <appender name="info_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>INFO</level>
          </filter>
          <file>{{ base_project_directory }}/logs/loader/info.log</file>
          <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                  <fileNamePattern>{{ base_project_directory }}/logs/loader/info.%d{yyyy-ww}</fileNamePattern>
                  <maxHistory>32</maxHistory>
          </rollingPolicy>
          <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
          </encoder>
  </appender>

  <appender name="error_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>ERROR</level>
          </filter>
          <file>{{ base_project_directory }}/logs/loader/error.log</file>
          <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                  <fileNamePattern>{{ base_project_directory }}/logs/loader/error.%d{yyyy-ww}</fileNamePattern>
                  <maxHistory>32</maxHistory>
          </rollingPolicy>
          <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
          </encoder>
  </appender>
  

  <logger name="com.blackmorse" level="debug">
     <appender-ref ref="debug_appender" />
     <appender-ref ref="info_appender" />
     <appender-ref ref="error_appender" />
  </logger>

  <root level="info">
        <appender-ref ref="STDOUT" />
  </root>

</configuration>
