.section_row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 99%;
    margin: 5px auto 10px;
}

.section_row_half_element {
    width: 50%;
}

.statistics_section_inner {
    margin: 7px;
}

.statistics_section_inner td {
    text-align: center;
}

.matches_date {
    width: 10%;
    font-size: 0.8em !important;
}

.matches_team {
    width: 40%;
}

.matches_result {
    width: 10%;
}