target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.metals/*
project/metals.sbt
.bloop/


conf/application.conf
src/main/resources/application.conf
src/main/resources/logback.xml
