@import views.html.league.leftBar
@import views.html.league.header
@(details: WebLeagueDetails)(implicit messages: Messages)

@main(details.leagueInfo.league.getEnglishName, header(details), leftBar(details), messages("error.header")) {
    <div class="info_div">
        <div class="info_text">@messages("error.description")
        <a target="_tab" href="https://www.hattrick.org/goto.ashx?path=/Club/Manager/?userId=4040806">
            <img class="external_header_img" src="@routes.Assets.versioned("images/external-link.svg")"/>
        </a>
        </div>
        <div class="info_image">
            <img src="@routes.Assets.versioned("images/dontknow.png")">
        </div>
    </div>
}