@import controllers.WebLeagueDetails

@(details: WebLeagueDetails)(implicit messages: Messages)
<div class="left_bar">
    <header class="left_bar_header">@messages("menu.statistics")</header>

    <a class="left_bar_link" href="@routes.LeagueController.overview(details.leagueInfo.league.getLeagueId)">@messages("menu.team_overview")</a>

    <a class="left_bar_link" href="@routes.LeagueController.bestTeams(details.leagueInfo.league.getLeagueId)">@messages("menu.best_teams")</a>

    <a class="left_bar_link" href="@routes.LeagueController.bestLeagueUnits(details.leagueInfo.league.getLeagueId)">@messages("menu.best_league_units")</a>

    <a class="left_bar_link" href="@routes.LeagueController.playerStats(details.leagueInfo.league.getLeagueId)">@messages("menu.player_stats")</a>

    <a class="left_bar_link" href="@routes.LeagueController.teamState(details.leagueInfo.league.getLeagueId)">@messages("menu.team_state")</a>

    <a class="left_bar_link" href="@routes.LeagueController.playerState(details.leagueInfo.league.getLeagueId)">@messages("menu.player_state")</a>

    <a class="left_bar_link" href="@routes.LeagueController.formalTeamStats(details.leagueInfo.league.getLeagueId)">@messages("menu.formal_team_stats")</a>
</div>
<div class="left_bar">
    @common.searchBar(details.leagueInfo.leagueId)
</div>

@common.promotionsBar(details)