@import controllers.WebLeagueDetails

@(details: WebLeagueDetails)
<table id="countryStatisticsTable">
    <tr>
        <td><a href="@routes.LeagueController.bestTeams(details.leagueId, details.seasonInfo.season)">Teams</a></td>
    </tr>
    <tr>
        <td><a href="@routes.LeagueController.bestLeagueUnits(details.leagueId, details.seasonInfo.season)">Leagues</a></td>
    </tr>
    <tr>
        <td><a href="@routes.LeagueController.playerStats(details.leagueId, details.seasonInfo.season)">Player statistics</a></td>
    </tr>
    <tr>
        <td><a href="@routes.LeagueController.teamState(details.leagueId, details.seasonInfo.season)">Team State</a></td>
    </tr>
</table>