@import controllers.WebLeagueDetails

@(details: WebLeagueDetails)(implicit messages: Messages)
    <header class="left_bar_header">Statistics</header>

    <a class="left_bar_link" href="@routes.LeagueController.bestTeams(details.leagueId)">Teams</a>

    <a class="left_bar_link" href="@routes.LeagueController.bestLeagueUnits(details.leagueId)">Leagues</a>

    <a class="left_bar_link" href="@routes.LeagueController.playerStats(details.leagueId)">Player statistics</a>

    <a class="left_bar_link" href="@routes.LeagueController.teamState(details.leagueId)">Team State</a>

    <a class="left_bar_link" href="@routes.LeagueController.playerState(details.leagueId)">Player State</a>

    <a class="left_bar_link" href="@routes.LeagueController.formalTeamStats(details.leagueId)">Formal Team Stats</a>