@import controllers.WebLeagueDetails

@(details: WebLeagueDetails, searchForm: Form[SearchForm], teams: Seq[(Long, String)])(implicit messages: Messages)

@main(details.leagueInfo.league.getEnglishName, header(details), leftBar(details), messages("menu.team_search")) {

    <section class="statistics_section">
        <header class="statistics_header">
            <span class="statistics_header_triangle">&#x25BC;</span>
        </header>
        <div class="search_section">
            <div class="search_form">
                @helper.form(routes.LeagueController.processSearch(details.leagueInfo.leagueId)) {
                    <input type="text" id="teamName" name="teamName" value="">
                    <input type="text" id="leagueId" name="leagueId" value="@details.leagueInfo.leagueId">
                    <input type="submit" value="@messages("menu.search")">
                    @if(!searchForm.errors.isEmpty) {
                        <span class="form_error">@messages("error.empty_field")</span>
                    }
                }
            </div>
            @for((id, name) <- teams) {
                <a class="table_link" href="@routes.TeamController.teamOverview(id)">@name</a><br>
            }
        </div>
    </section>
}