

.header {
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    margin: 5px 0 10px;
    padding: 0 5px;
    font-weight: bold;
    background: green;
    color: white;
    height: 45px;

    display: flex;
    align-items: center;
    border-radius: 3px;

    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.header_link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
    color: white;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
}

.header_link:hover {
    background: #224d14;
}
   
.header_link:visited,
.header_link:active {
    color: white;
    text-decoration: none;
}

.hrefSelect {
    margin: 0 5px;
}

.logo {
    height: 100%;
    margin-left: auto;
}