body {
    /* display: flex; */
    /* justify-content: center; */
    background: #dcf7d5;
}

.main_frame {
    min-width: 900px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.language_links {
    align-self: flex-end;
    font-size: 0.7em;
    margin-bottom: 5px;
}



main {
    display: flex;
    background: white;
    border-radius: 3px;
}