@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    background: #dcf7d5;
}

.main_frame {
    min-width: 900px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    background: white;
    /* flex-grow: 1; */
    max-width: 100%;
    width: 100%;
}

.language_links {
    align-self: flex-end;
    font-size: 0.7em;
    margin-bottom: 5px;
}

main {
    display: flex;
    border-radius: 3px;    
}