@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    background: #dcf7d5;
}

.main_frame {
    min-width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    background: white;
    max-width: 100%;
    width: 100%;
}

.language_links {
    align-self: flex-end;
    font-size: 0.7em;
    margin-bottom: 5px;
}

main {
    display: flex;
    border-radius: 3px;    
}

.hint {
    position: relative;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 5px;
}

.hint:hover::after {
    content: attr(popped-hint);
    position: absolute;
    left:0px;
    /* top: -10px; */
    color: white;
    z-index: 2;

    background: rgba(0, 0, 0, 0.5);
}

.page_link {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.page_link:hover {
    background: #bbf0c9;
}

.page_link_selected {
    background-color: #dce3de;
    font-weight: bold;
}

.a_page {
    text-decoration: none;
    color: black;
}

.a_page:visited,
.a_page:active {
    color: black;
    text-decoration: none;
}