@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

.position {
    width: 20px;
}

.statistics_table {
    width: 100%;
    border-spacing: 0px;
    
    /*margin: 5px 0 10px;*/
    /*margin: 15px;*/
}

.statistics_table th {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    background: #bbf0c9;
    text-align: left;
    height: 25px;
    padding: 0 5px;
}

.statistics_table > tbody > tr:nth-child(2n) {
    background-color: #dce3de;
}

.statistics_table td {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 0.9em;
}

.statistics_table .value {
    text-align: center;
}

.statistics_table .yellow {
    background: yellow;
}

 .statistics_table .red {
    background: red;
}

.statistics_table .card {
    display: inline-block;
    width: 8px;
    height: 15px;
    transform: rotate(20deg);
}

.statistics_table .league {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.table_link:visited,
.table_link:active,
.table_link {
    color: black;
    text-decoration: underline;
}

.table_link:hover {
    text-decoration: none;
}

.selected_row {
    background: #ffe65e !important;
}