@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.position {
    width: 20px;
}

table {
    width: 100%;
    border-spacing: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin: 5px 0 10px;
}

th {
    background: #bbf0c9;
    text-align: left;
    height: 25px;
    padding: 0 5px;
}

tr:nth-child(2n) {
    background-color: #dce3de;
}

.value {
    text-align: center;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.card {
    display: inline-block;
    width: 8px;
    height: 15px;
    transform: rotate(20deg);
}

.mult {
    font-size: 0.6em; 
    align-self: flex-end;
}

.star {
    width: 20px;
    height: 20px;
}

.rating {
    display: flex;
    align-items: stretch;
    /* flex-wrap: wrap; */
}

.league {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}