#for vanja site
include /etc/nginx/sites-available/temevo.conf;

server {
        listen 443;
        listen [::]:443;
        ssl on;
        ssl_certificate {{ base_project_directory }}/certs/certificate.pem;
        ssl_certificate_key {{ base_project_directory }}/certs/private_key.pem;

        server_name {{ domainName }};

        location /api {
                proxy_pass      "http://127.0.0.1:{{ web.port }}";
        }

        location /assets/images/ {
                alias {{ base_project_directory }}/front/public/;
                autoindex off;
        }

        location /robots.txt {
                alias {{ base_project_directory }}/robots.txt;
        }


        location / {
                proxy_pass      "http://127.0.0.1:{{ front.port }}";
        }

}

server {
        listen 80;
        server_name {{ domainName }};
        return 301 https://$server_name$request_uri;  # enforce https
}

