@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, header: Html, leftBar: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AlltidLike - @title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/header.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/leftBar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/content.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/table.css")">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body>
        <div class="main_frame">
            <aside class="language_links">
                <a href="@{routes.HomeController.lang("en")}">en</a>
                <a href="@{routes.HomeController.lang("ru")}">ru</a>
            </aside>
            <header class="header">@header</header>
            <main>
                <aside class="left_bar">
                    @leftBar
                </aside>
                <section class="content">
                    @content
                </section>

            </main>
        </div>

      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/header.js")" type="text/javascript"></script>
    </body>
</html>
