@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, header: Html, leftBar: Html, contentLabel: String)(content: Html)(implicit messages: Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AlltidLike - @contentLabel - @title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/header.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/leftBar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/content.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/table.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/common.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/team/teamRankings.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/team/matches.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/info.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/search.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/promotions.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/team/matchRating.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/cookies.css")">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body>
        <div class="main_frame">
            <aside class="language_links">
                <a href="@{routes.HomeController.lang("en")}">en</a>
                <a href="@{routes.HomeController.lang("ru")}">ru</a>
                <a href="@{routes.HomeController.lang("es")}">es</a>
                <a href="@{routes.HomeController.lang("hr")}">hr</a>
            </aside>
            <header class="header">@header</header>
            <main>
                <aside class="left_side">
                    @leftBar
                </aside>
                <section class="content">
                    <header class="content_header">@contentLabel</header>
                    <div class="content_body">
                        @content
                    </div>
                </section>

            </main>
            <footer class="credentials">
                Powered by Scala Play & ClickHouse. <a class="github_link" href="https://github.com/Blackmorse/hat-all-stats">GitHub</a>
            </footer>
        </div>
        <div id="cookies">
            <header class="cookie_header">@messages("cookies.header")</header>
            <article class="cookie_article">@messages("cookies.content")</article>
            <button id="cookie_yes">@messages("cookies.accept")</button>
        </div>
      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
      <script src="@routes.Assets.versioned("javascripts/header.js")" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@@rc/dist/js.cookie.min.js"></script>
        <script>
            if (!Cookies.get('hattid_cookie')) {     
                document.getElementById('cookie_yes').addEventListener('click', function() { 
                    Cookies.set('hattid_cookie', 'true') 
                    document.getElementById("cookies").style.visibility = 'hidden'
                } )
            } else {
                document.getElementById("cookies").style.visibility = 'hidden'
            }
        </script>
    </body>
</html>
