@import models.web.AbstractWebDetails

@(details: AbstractWebDetails, title: String, header: Html, leftBar: Html)(content: Html)

@main(title: String, header: Html, leftBar: Html){
    <span class="seasonDiv">
        Season:
        <select class="hrefSelect">
            @for((season, link) <- details.seasonInfo.allSeasons) {
                <option value="@link" @{if(season==details.seasonInfo.season.toString) "selected"}>@season</option>
            }
        </select>
    </span>
    <span class="statsTypeDiv">
        Round:
        <select class="hrefSelect">
            @for((name, link) <- details.statTypeLinks.links) {
                <option value="@link" @{if(name==details.statTypeLinks.currentStatType.toString) "selected"}>@name</option>
            }
        </select>
    </span>
    <span class="sortByDiv">
        Sort by:
        <select class="hrefSelect">
        @for((name, link) <- details.sortByLinks.links) {
            <option value="@link" @{if(name==details.sortByLinks.currentSort) "selected"}>@name</option>
        }
        </select>
    </span>
    @content
}