@import models.web.AbstractWebDetails
@import models.web.ViewData
@import models.web.Links

@(title: String, header: Html, leftBar: Html, links: Links)(content: Html)

@main(title, header, leftBar){
    <span class="seasonDiv">
        Season:
        <select class="hrefSelect">
            @for((season, link) <- links.seasonLinks.allSeasons) {
                <option value="@link" @{if(season==links.seasonLinks.season.toString) "selected"}>@season</option>
            }
        </select>
    </span>
    <span class="statsTypeDiv">
        Round:
        <select class="hrefSelect">
            @for((name, link) <- links.statTypeLinks.links) {
                <option value="@link" @{if(name==links.statTypeLinks.currentStatType.toString) "selected"}>@name</option>
            }
        </select>
    </span>
    <span class="sortByDiv">
        Sort by:
        <select class="hrefSelect">
        @for((name, link) <- links.sortByLinks.links) {
            <option value="@link" @{if(name==links.sortByLinks.currentSort) "selected"}>@name</option>
        }
        </select>
    </span>
    @content
}