@import controllers.WebLeagueUnitDetails
@import com.blackmorse.hattrick.api.leaguedetails.model.LeagueDetails

@(details: WebLeagueUnitDetails, leagueDetails: LeagueDetails, bestTeams: List[models.clickhouse.league.TeamRating])


@main(details.leagueUnitName, header(details), leftBar(details)){
    <table>
        <tr>
            <th></th>
            <th>Название</th>
            <th>И</th>
            <th>З</th>
            <th>Пр</th>
            <th>В</th>
            <th>Н</th>
            <th>П</th>
            <th>О</th>
        </tr>
        @for(team <- leagueDetails.getTeams()) {
            <tr>
                <td>@team.getPosition</td>
                <td>@team.getTeamName</td>
                <td>@team.getMatches</td>
                <td>@team.getGoalsFor</td>
                <td>@team.getGoalsAgainst</td>
                <td>@team.getWon</td>
                <td>@team.getDraws</td>
                <td>@team.getLost</td>
                <td>@team.getPoints</td>
            </tr>
        }
    </table>

    @common.bestTeamsTable(bestTeams)
}