@import models.clickhouse.TeamRating
@import controllers.WebLeagueUnitDetails
@import com.blackmorse.hattrick.api.leaguedetails.model.LeagueDetails
@import service.LeagueUnitTeamStat
@import models.web.ViewData

@(viewData: ViewData[TeamRating, WebLeagueUnitDetails], leagueTeamStats: Seq[LeagueUnitTeamStat])(implicit messages: Messages)

@stats(viewData.details.leagueUnitName, "Teams", header(viewData.details), leftBar(viewData.details), viewData.links){
    <table>
        <tr>
            <th class="position hint" popped-hint="Position">P</th>
            <th>Name</th>
            <th class="value">Games</th>
            <th class="value hint" popped-hint="Win">W</th>
            <th class="value hint" popped-hint="Draw">D</th>
            <th class="value hint" popped-hint="Lose">L</th>
            <th class="value hint" popped-hint="Goals For">GF</th>
            <th class="value hint" popped-hint="Goals Agains">GA</th>
            <th class="value hint" popped-hint="Points">Pts</th>
        </tr>
        @for(team <- leagueTeamStats) {
            <tr>
                <td>@team.position</td>
                <td><a href="@routes.TeamController.matches(team.teamId)">@team.teamName</a></td>
                <td class="value">@team.games</td>
                <td class="value">@team.win</td>
                <td class="value">@team.draw</td>
                <td class="value">@team.lost</td>
                <td class="value">@team.scored</td>
                <td class="value">@team.missed</td>
                <td class="value">@team.points</td>
            </tr>
        }
    </table>

    @common.bestTeamsTable(viewData.webPagedEntities)
}