@import models.clickhouse.TeamRating
@import controllers.WebLeagueUnitDetails
@import com.blackmorse.hattrick.api.leaguedetails.model.LeagueDetails
@import service.LeagueUnitTeamStat
@import models.web.ViewData

@(viewData: ViewData[TeamRating, WebLeagueUnitDetails], leagueTeamStats: Seq[LeagueUnitTeamStat])(implicit messages: Messages)

@stats(viewData.details.leagueUnitName, "Teams", header(viewData.details), leftBar(viewData.details), viewData.links){
    <table>
        <tr>
            <th></th>
            <th>Название</th>
            <th>И</th>
            <th>З</th>
            <th>Пр</th>
            <th>В</th>
            <th>Н</th>
            <th>П</th>
            <th>О</th>
        </tr>
        @for(team <- leagueTeamStats) {
            <tr>
                <td>@team.position</td>
                <td><a href="@routes.TeamController.matches(team.teamId)">@team.teamName</a></td>
                <td>@team.games</td>
                <td>@team.scored</td>
                <td>@team.missed</td>
                <td>@team.win</td>
                <td>@team.draw</td>
                <td>@team.lost</td>
                <td>@team.points</td>
            </tr>
        }
    </table>

    @common.bestTeamsTable(viewData.webPagedEntities)
}