@import controllers.WebLeagueUnitDetails
@import utils.Romans

@(details: WebLeagueUnitDetails)

<a href="@routes.LeagueController.bestTeams(details.leagueId)">@details.leagueName</a>
->
<a href="@routes.DivisionLevelController.bestTeams(details.leagueId, details.seasonInfo.season, details.divisionLevel)">@Romans(details.divisionLevel)</a>
->
<a href="@routes.LeagueUnitController.bestTeams(details.leagueUnitId, details.seasonInfo.season)">@details.leagueUnitName</a>
->
<select class="hrefSelect">
    <option class="blank" value>Choose</option>
    @for((teamName, teamLink) <- details.teamLinks){
    <option value="@teamLink">@teamName</option>
    }
</select>