@import controllers.WebLeagueUnitDetails

@(details: WebLeagueUnitDetails)(implicit messages: Messages)
    <header class="left_bar_header">Statistics</header>

    <a class="left_bar_link" href="@routes.LeagueUnitController.bestTeams(details.leagueUnitId)">Teams</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.playerStats(details.leagueUnitId)">Player statistics</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.teamState(details.leagueUnitId)">Team State</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.playerState(details.leagueUnitId)">Player State</a>
