@import controllers.WebLeagueUnitDetails

@(details: WebLeagueUnitDetails)
<table>
    <tr>
        <td><a href="@routes.LeagueUnitController.bestTeams(details.leagueUnitId, details.seasonInfo.season)">Teams</a></td>
    </tr>
    <tr>
        <td><a href="@routes.LeagueUnitController.playerStats(details.leagueUnitId, details.seasonInfo.season)">Player statistics</a></td>
    </tr>
    <tr>
        <td><a href="@routes.LeagueUnitController.teamState(details.leagueUnitId, details.seasonInfo.season)">Team State</a></td>
    </tr>
</table>