@import controllers.WebLeagueUnitDetails

@(details: WebLeagueUnitDetails)(implicit messages: Messages)
<div class="left_bar">
    <header class="left_bar_header">@messages("menu.statistics")</header>

    <a class="left_bar_link" href="@routes.LeagueUnitController.bestTeams(details.leagueUnitId)">@messages("menu.best_teams")</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.bestMatches(details.leagueUnitId)">@messages("overview.top_matches")</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.surprisingMatches(details.leagueUnitId)">@messages("overview.surprising_matches")</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.playerStats(details.leagueUnitId)">@messages("menu.player_stats")</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.teamState(details.leagueUnitId)">@messages("menu.team_state")</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.playerState(details.leagueUnitId)">@messages("menu.player_state")</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.powerRatings(details.leagueUnitId)">@messages("menu.power_ratings")</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.fanclubFlags(details.leagueUnitId)">@messages("menu.fanclub_flags")</a>

    <a class="left_bar_link" href="@routes.LeagueUnitController.streakTrophies(details.leagueUnitId)">@messages("menu.streak_trophies")</a>
</div>
<div class="left_bar">
    @common.searchBar(details.leagueInfo.leagueId)
</div>
@common.promotionsBar(details)