@import controllers.WebDivisionLevelDetails

@(details: WebDivisionLevelDetails)

<a href="@routes.LeagueController.bestTeams(details.leagueId)">@details.leagueName</a>
->
<a href="@routes.DivisionLevelController.bestTeams(details.leagueId, details.divisionLevel)">@details.divisionLevelRoman</a>
->
<select class="hrefSelect">
    <option class="blank" value>Choose</option>
    @for((leagueNumber, link) <- details.leagueUnitLinks) {
    <option value ="@link">@leagueNumber</option>
    }
</select>