@import controllers.WebDivisionLevelDetails

@(details: WebDivisionLevelDetails)(implicit messages: Messages)
<div class="left_bar">
    <header class="left_bar_header">@messages("menu.statistics")</header>

    <a class="left_bar_link" href="@routes.DivisionLevelController.bestTeams(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("menu.best_teams")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.bestLeagueUnits(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("menu.best_league_units")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.bestMatches(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("overview.top_matches")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.surprisingMatches(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("overview.surprising_matches")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.playerStats(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("menu.player_stats")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.teamState(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("menu.team_state")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.playerState(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("menu.player_state")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.formalTeamStats(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("menu.formal_team_stats")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.powerRatings(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("menu.power_ratings")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.fanclubFlags(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("menu.fanclub_flags")</a>

    <a class="left_bar_link" href="@routes.DivisionLevelController.streakTrophies(details.leagueInfo.league.getLeagueId, details.divisionLevel)">@messages("menu.streak_trophies")</a>
</div>
<div class="left_bar">
    @common.searchBar(details.leagueInfo.leagueId)
</div>
@common.promotionsBar(details)
