@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');


.hint {
    position: relative;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 5px;
}

.hint:hover::after {
    content: attr(popped-hint);
    position: absolute;
    left:0px;
    color: white;
    z-index: 2;

    background: rgba(0, 0, 0, 0.5);
}

.selected_row {
    background: #ffe65e !important;
}