@import models.clickhouse.overview.MatchOverviewModel
@import java.text.SimpleDateFormat
@import service.LeaguesInfo

@(matches: List[MatchOverviewModel], valueHeader: String, leaguesInfo: LeaguesInfo, title: String)(implicit messages: Messages)

@simpleDateFormat = @{new SimpleDateFormat("dd.MM.yy")}

<header class="statistics_header">
    <span class="statistics_header_triangle">&#x25BC; @title</span>
</header>
<div class="statistics_section_inner">
    <table class="statistics_table">
        <tr>
            <th class="value">@messages("matches.date")</th>
            <th class="value">@messages("overview.country")</th>
            <th class="value">@messages("table.league")</th>
            <th class="value">@messages("table.team")</th>
            <th class="value">@valueHeader</th>
            <th class="value">@messages("overview.goals")</th>
            <th></th>
            <th class="value">@messages("overview.goals")</th>
            <th class="value">@valueHeader</th>
            <th class="value">@messages("table.team")</th>
        </tr>
        @for(matc <- matches){
        <tr>
            <td class="value">@simpleDateFormat.format(matc.date)</td>
            <td class="value">
                <a class="table_link" href="@routes.LeagueController.bestTeams(matc.leagueId)">
                    @leaguesInfo(matc.leagueId).league.getEnglishName
                </a>
            </td>
            <td class="value">
                <a class="table_link" href="@routes.LeagueUnitController.bestTeams(matc.leagueUnitId)">
                    @matc.leagueUnitName
                </a>
            </td>
            <td class="value">@if(matc.isHomeMatch) {<a class="table_link" href="@routes.TeamController.teamOverview(matc.teamId)">@matc.teamName</a>} else {<a class="table_link" href="@routes.TeamController.teamOverview(matc.oppositeTeamId)">@matc.oppositeTeamName</a>}</td>
            <td class="value">
                <a class="table_link" href="@routes.TeamController.matches(if(matc.isHomeMatch) matc.teamId else matc.oppositeTeamId)">
                    @if(matc.isHomeMatch) {@matc.value} else {@matc.oppositeValue}
                </a>
            </td>
            <td class="value">@if(matc.isHomeMatch) {@matc.goals} else {@matc.enemyGoals}</td>
            <td class="value">:</td>
            <td class="value">@if(matc.isHomeMatch) {@matc.enemyGoals} else {@matc.goals}</td>
            <td class="value">
                <a class="table_link" href="@routes.TeamController.matches(if(matc.isHomeMatch) matc.oppositeTeamId else matc.teamId)">
                    @if(matc.isHomeMatch) {@matc.oppositeValue} else {@matc.value}
                </a>
            </td>
            <td class="value">@if(matc.isHomeMatch) {<a class="table_link" href="@routes.TeamController.teamOverview(matc.oppositeTeamId)">@matc.oppositeTeamName</a>} else {<a class="table_link" href="@routes.TeamController.teamOverview(matc.teamId)">@matc.teamName</a>}</td>
        </tr>
        }
    </table>
</div>