@import models.clickhouse.overview.PlayerOverviewModel
@import service.LeaguesInfo
@import models.web.StatisticsParameters
@import models.web.{Desc, Round}

@(players: List[PlayerOverviewModel],
        valueHeader: String,
        leaguesInfo: LeaguesInfo,
        title: String,
        formatter: Int => Html,
        link: (Int, Option[StatisticsParameters]) => Call,
        sortByLink: String,
        pageSize: Int)(implicit messages: Messages)
<header class="statistics_header">
    <span class="statistics_header_triangle">&#x25BC; @title</span>
</header>
<div class="statistics_section_inner">
    <table class="statistics_table">
        <tr>
            <th class="value">@messages("overview.country")</th>
            <th class="value">@messages("table.league")</th>
            <th class="value">@messages("table.team")</th>
            <th class="value">@messages("table.player")</th>
            <th class="value">@valueHeader</th>
        </tr>
        @for(player <- players) {
        <tr>
            <td class="value">
                <a class="table_link" href="@routes.LeagueController.bestTeams(player.leagueId)">
                    @leaguesInfo(player.leagueId).league.getEnglishName
                </a>
            </td>
            <td class="value">
                <a class="table_link" href="@routes.LeagueUnitController.bestTeams(player.leagueUnitId)">
                    @player.leagueUnitName
                </a>
            </td>
            <td class="value">
                <a class="table_link" href="@routes.TeamController.teamOverview(player.teamId)">
                    @player.teamName
                </a>
            </td>
            <td class="value">@player.firstName @player.lastName</td>
            <td class="value">
                <a class="table_link" href="@link(player.leagueId,
                                    Some(StatisticsParameters(
                                        season = player.season,
                                        page = 0,
                                        statsType = Round(player.round),
                                        sortBy = sortByLink,
                                        pageSize = pageSize,
                                        sortingDirection = Desc
                                    )))">
                    @formatter(player.value)
                </a>
            </td>
        </tr>
        }
    </table>
</div>