@import service.OverviewStatistics
@import service.LeaguesInfo
@import com.blackmorse.hattrick.api.worlddetails.model.League

@(overviewStatistics: OverviewStatistics,
    league: League,
    leaguesInfo: Option[LeaguesInfo],
    pageSize: Int)(implicit messages: Messages)

@main(messages("overview.world_overview"), world.header(leaguesInfo.get), world.leftBar(leaguesInfo.get), messages("overview.world_overview")) {
    @common.overview.overview(overviewStatistics, league, leaguesInfo, pageSize)
}