server {
       listen 80;
       listen [::]:80;


       server_name {{ domainName }};

       root {{ base_project_directory }}/stub;
       index index.html;

       location / {
               try_files $uri $uri/ =404;
       }
}

server {
        listen 443 default_server;
        listen [::]:443 default_server;

        ssl on;
        ssl_certificate {{ base_project_directory }}/certs/certificate.pem;
        ssl_certificate_key {{ base_project_directory }}/certs/private_key.key;

        server_name hattid.com;

       root {{ base_project_directory }}/stub;
       index index.html;

       location /  {
               try_files /index.html $uri $uri/;
       }

        location /assets/images/ {
                alias {{ base_project_directory }}/front/public/;
                autoindex off;
        }


       location ~ /(.*)  {
               try_files /index.html $uri $uri/;
       }
}
