.player_card {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: 1px solid black;
    margin: 5px;
    border-radius: 3px;
    background: #fffbdc;
    display: flex;
    flex-direction: column;
    width: 130px;
    align-items: center;
    /* height: 200px; */
}

.player_card_header {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: white;
    background: green;
    /* height: 20px; */
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.player_card_line {
    text-align: center;
}

.player_name {
    margin: 5px 0;
}

.player_team,
.player_league_unit {
    font-size: 0.8em;
}

.player_rating {
    margin: auto 0 5px;
}
