@import controllers.WebTeamDetails
@import utils.Romans

@(details: WebTeamDetails)

<a class="header_link" href="@routes.LeagueController.bestTeams(details.league.getLeagueId)">
    <span class="header_link_text">@details.league.getEnglishName</span>
</a>
&#8674;
<a class="header_link" href="@routes.DivisionLevelController.bestTeams(details.league.getLeagueId, details.divisionLevel)">
    <span class="header_link_text">@Romans(details.divisionLevel)</span>
</a>
&#8674;
<a class="header_link" href="@routes.LeagueUnitController.bestTeams(details.leagueUnitId)">
    <span class="header_link_text">@details.leagueUnitName</span>
</a>
&#8674;
<a class="header_link" href="@routes.TeamController.matches(details.teamId)">
    <span class="header_link_text">@details.teamName</span>
</a>