@import controllers.WebTeamDetails
@import utils.Romans

@(details: WebTeamDetails)

<a class="header_link" href="@routes.LeagueController.bestTeams(details.leagueInfo.league.getLeagueId)">
    <span class="header_link_text">@details.leagueInfo.league.getEnglishName</span>
</a>
&#8674;
<a class="header_link" href="@routes.DivisionLevelController.bestTeams(details.leagueInfo.league.getLeagueId, details.divisionLevel)">
    <span class="header_link_text">@Romans(details.divisionLevel)</span>
</a>
&#8674;
<a class="header_link" href="@routes.LeagueUnitController.bestTeams(details.leagueUnitId)">
    <span class="header_link_text">@details.leagueUnitName</span>
</a>
&#8674;
<a class="header_link" href="@routes.TeamController.teamOverview(details.teamId)">
    <span class="header_link_text">@details.teamName</span>
</a>
<a class="logo_href" href="@routes.WorldController.overview()">
    <img class="logo" src="@routes.Assets.versioned("images/logo.png")" >
</a>