@import controllers.WebTeamDetails
@import controllers.WebTeamDetails
@(details: WebTeamDetails)(implicit messages: Messages)
    <header class="left_bar_header">@messages("menu.statistics")</header>
    <a class="left_bar_link" href="@routes.TeamController.teamRankings(details.teamId)">@messages("menu.team_rankings")</a>

    <a class="left_bar_link" href="@routes.TeamController.matches(details.teamId)">@messages("menu.matches")</a>

    <a class="left_bar_link" href="@routes.TeamController.playerStats(details.teamId)">@messages("menu.player_stats")</a>

    <a class="left_bar_link" href="@routes.TeamController.playerState(details.teamId)">@messages("menu.player_state")</a>
