@import controllers.WebTeamMatch
@import controllers.WebTeamDetails

@import views.html.team.matchRating
@(matches: List[WebTeamMatch], details: WebTeamDetails)(implicit messages: Messages)

@main(details.teamName, header(details), leftBar(details), messages("menu.matches")) {
    <section class="statistics_section">
        <header class="statistics_header">
            <span class="statistics_header_triangle">&#x25BC;</span>
            <span class="statistics_header_text"></span>
        </header>
        <div class="content_body">
            @for(matc <- matches) {
                @matchRating(matc)
            }
        </div>
    </section>
}