@import controllers.WebTeamMatch
@import java.text.SimpleDateFormat

@(webTeamMatch: WebTeamMatch)(implicit messages: Messages)

<div class="match">
    <div class="match_rating match_rating_right">
        <div class="match_rating_header">
            <span class="match_rating_header_text">
                @messages("matches.result")
            </span>
        </div>
        <div class="match_rating_grid">
            <div class="match_rating_grid_entry match_rating_grid_left">
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @messages("matches.home_team")
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @messages("matches.result")
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @messages("matches.away_team")
                        </span>
                    </span>
                </div>
            </div>

            <div class="match_rating_grid_entry match_rating_grid_right">
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            <a class="table_link" href="@routes.TeamController.teamOverview(webTeamMatch.homeTeamId)">
                                @webTeamMatch.homeTeamName
                            </a>
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @webTeamMatch.homeTeamGoals : @webTeamMatch.awayTeamGoals
                            <a class="external_table_link" target="_tab"
                                    href=@{"https://www.hattrick.org/goto.ashx?path=//Club/Matches/Match.aspx?matchID=" + webTeamMatch.teamMatchInfo.matchId}>
                                <img class="external_table_img" src="@routes.Assets.versioned("images/external-link.svg")"/>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            <a class="table_link" href="@routes.TeamController.teamOverview(webTeamMatch.awayTeamId)">
                                @webTeamMatch.awayTeamName
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="match_rating match_rating_left">
        <div class="match_rating_header">
            <span class="match_rating_header_text">
                @messages("matches.ratings")
            </span>
        </div>
        <div class="match_rating_grid">
            <div class="match_rating_grid_entry match_rating_grid_left">
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @messages("matches.defense_lmr")
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @messages("matches.midfield")
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @messages("matches.attack_lmr")
                        </span>
                    </span>
                </div>
            </div>

            <div class="match_rating_grid_entry match_rating_grid_right">
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @webTeamMatch.teamMatchInfo.ratingLeftDef
                        </span>
                    </span>
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @webTeamMatch.teamMatchInfo.ratingMidDef
                        </span>
                    </span>
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @webTeamMatch.teamMatchInfo.ratingRightDef
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @webTeamMatch.teamMatchInfo.ratingMidfield
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @webTeamMatch.teamMatchInfo.ratingLeftAtt
                        </span>
                    </span>
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @webTeamMatch.teamMatchInfo.ratingMidAtt
                        </span>
                    </span>
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @webTeamMatch.teamMatchInfo.ratingRightAtt
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="match_rating match_rating_right">
        <div class="match_rating_header">
            <span class="match_rating_header_text">
                @messages("matches.summary")
            </span>
        </div>

        <div class="match_rating_grid">
            <div class="match_rating_grid_entry match_rating_grid_left">
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @messages("matches.date")
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @messages("matches.formation")
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @messages("matches.hatstats")
                        </span>
                    </span>
                </div>
            </div>

            <div class="match_rating_grid_entry match_rating_grid_right">
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @{new SimpleDateFormat("yyyy.MM.dd").format(webTeamMatch.date)}
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @webTeamMatch.teamMatchInfo.formation
                        </span>
                    </span>
                </div>
                <div class="match_rating_row">
                    <span class="match_rating_entry">
                        <span class="match_rating_entry_text">
                            @{
                                webTeamMatch.teamMatchInfo.ratingMidfield * 3 +  webTeamMatch.teamMatchInfo.ratingLeftDef +
                                 webTeamMatch.teamMatchInfo.ratingMidDef +  webTeamMatch.teamMatchInfo.ratingRightDef +
                                 webTeamMatch.teamMatchInfo.ratingRightAtt +  webTeamMatch.teamMatchInfo.ratingMidAtt +  webTeamMatch.teamMatchInfo.ratingLeftAtt
                            }
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>