@import controllers.WebTeamDetails
@import utils.LeagueNameParser
@import models.clickhouse.TeamRankings
@import models.web.StatisticsParameters
@import com.blackmorse.hattrick.api.matches.model.Match

@(leagueTeamRankings: List[TeamRankings], divisionLevelTeamRankings: List[TeamRankings],
        details: WebTeamDetails, playedMatches: Seq[Match], upcomingMatches: Seq[Match], pageSize: Int)(implicit messages: Messages)

@bestTeamsLeagueLink(leagueId: Int, statisticsParameters: Option[StatisticsParameters], selectedTeamId: Option[Long]) = @{
        routes.LeagueController.bestTeams(leagueId, statisticsParameters, selectedTeamId)
    }

@bestTeamsDivisionLevelLink(leagueId: Int, divisionLevel: Int, statisticsParameters: Option[StatisticsParameters], selectedTeamId: Option[Long]) = @{
        routes.DivisionLevelController.bestTeams(leagueId, divisionLevel, statisticsParameters, selectedTeamId)
    }

@playerStateLeagueLink(leagueId: Int, statisticsParameters: Option[StatisticsParameters], selectedTeamId: Option[Long]) = @{
    routes.LeagueController.teamState(leagueId, statisticsParameters, selectedTeamId)
}

@playerStateDivisionLevelLink(leagueId: Int, divisionLevel: Int, statisticsParameters: Option[StatisticsParameters], selectedTeamId: Option[Long]) = @{
    routes.DivisionLevelController.teamState(leagueId, divisionLevel, statisticsParameters, selectedTeamId)
}

@powerRatingsLeagueLink(leagueId: Int, statisticsParameters: Option[StatisticsParameters], selectedTeamId: Option[Long]) = @{
    routes.LeagueController.powerRatings(leagueId, statisticsParameters, selectedTeamId)
}

@powerRatingsDivisionLevelLink(leagueId: Int, divisionLevel: Int, statisticsParameters: Option[StatisticsParameters], selectedTeamId: Option[Long]) = @{
    routes.DivisionLevelController.powerRatings(leagueId, divisionLevel, statisticsParameters, selectedTeamId)
}


@lastLeagueTeamRanking = @{leagueTeamRankings.headOption}
@previousLeagueTeamRanking = @{leagueTeamRankings.lift(1)}

@lastDivisionTeamRanking = @{divisionLevelTeamRankings.headOption}
@previousDivisionTeamRanking = @{divisionLevelTeamRankings.lift(1)}

@main(details.teamName, header(details), leftBar(details), messages("menu.team_overview")) {

    <div class="section_row">
        <div class="section_row_half_element">
            <section class="statistics_section">
                <header class="statistics_header">
                    <span class="statistics_header_triangle">&#x25BC; @messages("matches.played_matches")</span>
                </header>

                @common.matchesTable(playedMatches)
            </section>
        </div>
        <div class="section_row_half_element">
            <section class="statistics_section">
                <header class="statistics_header">
                    <span class="statistics_header_triangle">&#x25BC; @messages("matches.upcoming_matches")</span>
                </header>

                @common.matchesTable(upcomingMatches)
            </section>
        </div>
    </div>

    <section class="statistics_section">
        <header class="statistics_header">
            <span class="statistics_header_triangle">&#x25BC; @messages("menu.team_rankings")</span>
        </header>

        @if(lastDivisionTeamRanking.isDefined) {
            <div class="rankings_grid">
                <div class="rankings_grid_row">
                @common.teamRanking(lastLeagueTeamRanking = lastLeagueTeamRanking.get, previousLeagueTeamRanking = previousLeagueTeamRanking,
                    lastDivisionLevelTeamRanking = lastDivisionTeamRanking.get,
                    previousDivisionLevelTeamRanking = previousDivisionTeamRanking,
                    rankName = messages("table.hatstats"),
                    valueFunc = teamRankings => teamRankings.hatstats,
                    positionFunc = teamRankings => teamRankings.hatstatsPosition,
                    sortingField = "hatstats",
                    details = details,
                    leagueLink = bestTeamsLeagueLink,
                    divisionLevelLink = bestTeamsDivisionLevelLink,
                    pageSize = pageSize,
                    formatter = i => Html(i.toString))

                @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                    lastDivisionTeamRanking.get,
                    previousDivisionTeamRanking,
                    messages("table.salary") + ", " + details.leagueInfo.league.getCountry.getCurrencyName,
                    teamRankings => teamRankings.salary,
                    teamRankings => teamRankings.salaryPosition,
                    "salary",
                    details,
                    playerStateLeagueLink,
                    playerStateDivisionLevelLink,
                    pageSize,
                    salary => common.formatters.salaryFormatter(salary, details.leagueInfo.league))

                @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                    lastDivisionTeamRanking.get,
                    previousDivisionTeamRanking,
                    messages("table.tsi"),
                    teamRankings => teamRankings.tsi,
                    teamRankings => teamRankings.tsiPosition,
                    "tsi",
                    details,
                    playerStateLeagueLink,
                    playerStateDivisionLevelLink,
                    pageSize,
                    tsi => common.formatters.tsiFormatter(tsi)
                    )
                </div>

                <div class="rankings_grid_row">
                    @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                        lastDivisionTeamRanking.get,
                        previousDivisionTeamRanking,
                        messages("table.attack"),
                        teamRankings => teamRankings.attack,
                        teamRankings => teamRankings.attackPosition,
                        "attack",
                        details,
                        bestTeamsLeagueLink,
                        bestTeamsDivisionLevelLink,
                        pageSize,
                        attack => Html(attack.toString))
                    @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                        lastDivisionTeamRanking.get,
                        previousDivisionTeamRanking,
                        messages("table.defense"),
                        teamRankings => teamRankings.defense,
                        teamRankings => teamRankings.defensePosition,
                        "defense",
                        details,
                        bestTeamsLeagueLink,
                        bestTeamsDivisionLevelLink,
                        pageSize,
                        defense => Html(defense.toString))
                    @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                        lastDivisionTeamRanking.get,
                        previousDivisionTeamRanking,
                        messages("table.midfield"),
                        teamRankings => teamRankings.midfield * 3,
                        teamRankings => teamRankings.midfieldPosition,
                        "midfield",
                        details,
                        bestTeamsLeagueLink,
                        bestTeamsDivisionLevelLink,
                        pageSize)
                </div>
                <div class="rankings_grid_row">
                    @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                        lastDivisionTeamRanking.get,
                        previousDivisionTeamRanking,
                        messages("table.age"),
                        teamRankings => teamRankings.age,
                        teamRankings => teamRankings.agePosition,
                        "age",
                        details,
                        playerStateLeagueLink,
                        playerStateDivisionLevelLink,
                        pageSize,
                        age => common.formatters.ageFormatter(age))
                    @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                        lastDivisionTeamRanking.get,
                        previousDivisionTeamRanking,
                        messages("table.rating"),
                        teamRankings => teamRankings.rating,
                        teamRankings => teamRankings.ratingPosition,
                        "rating",
                        details,
                        playerStateLeagueLink,
                        playerStateDivisionLevelLink,
                        pageSize,
                        rating => common.formatters.ratingFormatter(rating))
                    @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                        lastDivisionTeamRanking.get,
                        previousDivisionTeamRanking,
                        messages("table.rating_end_of_match"),
                        teamRankings => teamRankings.ratingEndOfMatch,
                        teamRankings => teamRankings.ratingEndOfMatchPosition,
                        "rating_end_of_match",
                        details,
                        playerStateLeagueLink,
                        playerStateDivisionLevelLink,
                        pageSize,
                        rating => common.formatters.ratingFormatter(rating))
                </div>
                <div class="rankings_grid_row">
                    @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                        lastDivisionTeamRanking.get,
                        previousDivisionTeamRanking,
                        messages("table.power_rating"),
                        teamRankings => teamRankings.powerRating,
                        teamRankings => teamRankings.powerRatingPosition,
                        "power_rating",
                        details,
                        powerRatingsLeagueLink,
                        powerRatingsDivisionLevelLink,
                        pageSize,
                        powerRating => Html(powerRating.toString)
                    )
                    @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                        lastDivisionTeamRanking.get,
                        previousDivisionTeamRanking,
                        messages("table.total_injury_weeks"),
                        teamRankings => teamRankings.injury,
                        teamRankings => teamRankings.injuryPosition,
                        "injury",
                        details,
                        playerStateLeagueLink,
                        playerStateDivisionLevelLink,
                        pageSize,
                        injury => common.formatters.injuryFormatter(injury))
                    @common.teamRanking(lastLeagueTeamRanking.get, previousLeagueTeamRanking,
                        lastDivisionTeamRanking.get,
                        previousDivisionTeamRanking,
                        messages("table.total_injury_number"),
                        teamRankings => teamRankings.injuryCount,
                        teamRankings => teamRankings.injuryCountPosition,
                        "injury_count",
                        details,
                        playerStateLeagueLink,
                        playerStateDivisionLevelLink,
                        pageSize,
                        injuryCount => Html(injuryCount.toString)
                    )
                </div>
            </div>
        }
    </section>
}